<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="buat-kiriman" href="/tabs-pelanggan/buat-kiriman">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Buat Kiriman</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat" href="/tabs-pelanggan/riwayat">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs-pelanggan/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>