<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="daftar-order" href="/tabs-kurir/daftar-order">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Daftar Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat-tugas" href="/tabs-kurir/riwayat-tugas">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Tugas Saya</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs-kurir/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>